.card {
  width: 33%;

  .button {
    padding: 15px;
    border-radius: 50%;
    box-shadow: none;
    &:hover {
      background-color: #eeeeee;
    }

    img {
      width: 20px;
      height: 20px;
      opacity: 0.7;
    }
  }
}

.rbutton {
  background-color: transparent;
  box-shadow: none;
}

.davomat {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
