.task_table {
  width: 340px;
  padding: 8px 16px;
  border: 1px solid #ccc;
}

.button {
  box-shadow: none;
}

.task_desk {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
}
