.section__wrapper {
  padding-right: 20px;
  .card {
    width: 300px;

    p {
      font-size: 13px;
    }

    .btns {
      .button {
        padding: 15px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: none;
        &:hover {
          background-color: #eeeeee;
        }

        img {
          width: 20px;
          height: 20px;
          opacity: 0.7;
        }
      }
    }

    .right_btns {
      display: flex;
      flex-direction: column;
      .button {
        padding: 15px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: none;
        &:hover {
          background-color: #eeeeee;
        }

        img {
          width: 20px;
          height: 20px;
          opacity: 0.7;
        }
      }
    }
  }

  .tab {
    width: 70%;

    .profile_tab_content {
      .title {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 15px 15px;
        border-radius: 5px;
        border-left: 5px solid blue;
        margin-bottom: 1.5rem;
        p {
          display: flex;
          font-weight: 700;
        }
        img {
          display: block;
          width: 30px;
          opacity: 0.5;
        }
      }

      .guruhlar {
        font-size: 25px;
        font-weight: 700;
      }
    }

    .card {
      width: 380px;

      .card__head {
        display: flex;
        column-gap: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #eee;
        margin-bottom: 0.5rem;

        .left {
          p {
            font-size: 18px;
          }
        }
      }
    }
    .card2 {
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 13px;
        padding-right: 20px;
        padding-left: 20px;

        li {
          display: flex;
          align-items: center;
          column-gap: 10px;

          &:nth-child(1) {
            width: fit-content;
          }

          p {
            width: 20px;
            height: 20px;
            font-size: 12px;
            display: flex;
            align-items: center;
            padding: 10px;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #b2b2b2;
            cursor: pointer;
            &:active {
              background-color: #42a5f5;
              color: #fff;
            }
          }

          span {
            font-weight: 400;
            opacity: 0.7;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.active {
  background-color: #42a5f5;
  color: #fff;
}

.template_box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
}
.template {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
@media (max-width: 768px) {
  .section__wrapper {
    flex-direction: column;
    padding: 0 20px;

    .card {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    .title {
      width: 100%;
    }

    .tab {
      width: 100%;
    }
  }
}
